@model IEnumerable<projet__Chokri_Forum.Models.Posts>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum - Les postes de Theme @ViewBag.ID_Theme</title>
    <link rel="stylesheet" href="~/css/Posts.css" />
</head>
<body>
 

    <form method="post">
        <fieldset>
            <legend>Ajouter un nouveau Poste</legend>

            <textarea name="n1" required></textarea>
            <br />
            <input type="submit" value="Ajouter" />
        </fieldset>
    </form>

        @foreach (var item in Model)
        {
            <fieldset>
                <legend style="font-size: 14px;">
                <img src="@item.User.cheminavatar" style="max-width: 70px; max-height: 70px;" />
                    @Html.DisplayFor(modelItem => item.User.pseudonyme)  le

                @Html.DisplayFor(modelItem => item.datecreationmessage) :<br />

            </legend>
            <br />
            @Html.ActionLink(item.message, "PostsDétails", new { id = item.id ,UserID = item.UserID  })
                <div>
                    @if (true)
                    {
                        <span>
                            <br />
                            @Html.ActionLink("Edit", "PostsEdit", new { id = item.id }) |
                            @Html.ActionLink("Delete", "PostsDelete", new { id = item.id })
                        </span>
                    }
                </div>
            </fieldset>
        }



</body>
</html>
