<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - projet _Chokri_Forum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/projet_Chokri_Forum.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a asp-controller="User" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">Home</a></li>
            <li class="nav-item"><a asp-controller="User" asp-action="Message" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Message" ? "active" : "")">Message</a></li>
            <li class="nav-item"><a asp-controller="User" asp-action="Profil" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Profil" ? "active" : "")">Profil</a></li>
            <li class="nav-item"><a asp-controller="User" asp-action="Logout" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Logout" ? "active" : "")">Logout</a></li>
            <img src="@Context.Session.GetString("CheminAvatar")" style="max-width: 40px; max-height: 40px; border-radius: 50%;" />

            <li class="nav-item"><a asp-controller="User" asp-action="About" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">About</a></li>

        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

    </header>

    <div class="container main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container">
            &copy; 2023 - projet _Chokri_Forum - <a asp-area="" asp-controller="User" asp-action="About">About</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
